@import "node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "./components/header";
@import "./utils/variables";
@import "./components/footer";
@import "./components/section-backdrop";
@import "./components/section-solicite-nuestro-servicio";
@import "./components/section-informacio";
@import "./components/section-a-que-nos-dedicamos";
@import "./components/section-equipo";
@import "./components/section-clientes.scss";
@import "./components/main-portafolio";

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --second-background: #f5f4fa;
    --footer-background: #2f303a;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}
/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    color: #2196f3;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: right;
    vertical-align: top;
    letter-spacing: 0.03em;
}

h1 {
    color: var(--primary-white-color);
    font-family: "Roboto", sans-serif;
    font-style: black;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.06em;
}

a:hover {
    color: var(--accent-color);
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: "Roboto", sans-serif;
}

p {
    color: var(--primery-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

a:focus {
    color: var(--accent-color);
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    z-index: 5;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.03em;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 16px;
    line-height: 2;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.06em;
}

.container {
    margin: auto;
    width: 1200px;
    padding: 0 15px;
}