.header {
    width: auto;
    border-bottom: 1px solid #ececec;
}
.header__nav {
    display: flex;
    align-items: center;
}

.header__ul--links {
    display: flex;
    align-items: center;
    padding-left: 93px;
}

.header__li--links {
    padding-left: 50px;
}

.header__ul--contactos {
    display: flex;
    margin-left: auto;
}

.header__li--contactos {
    padding-left: 50px;
    align-items: center;
}

.header__link--correo {
    color: #757575;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-style: medium;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.02em;
}

.header__link--numero-telefonico {
    color: var(--primery-text-color);
    font-weight: 500;
}

.links:focus {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
}

.header__link--numero-telefonico {
    font-family: "Roboto", sans-serif;
    font-style: medium;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.02em;
}

.header__link--correo,
.header__link--numero-telefonico {
    display: block;
    padding: 32px 0px;
    display: inline-flex;
}

.header__svg--telefono {
    height: 16px;
    width: 10px;
    margin-right: 10px;
}

.header__svg--correo {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.header__svg--correo,
.header__svg--telefono {
    fill: currentColor;
}

.header--links {
    font-family: "Roboto", sans-serif;
    font-style: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__svg--correo:hover,
.header__svg--correo:focus,
.header__svg--telefono:hover,
.header__svg--telefono:focus {
    fill: var(--accent-color);
}

.active {
    color: var(--accent-color);
    border-bottom: 4px solid #2196F3;
}
@media screen and (min-width:50px) and (max-width:767px){
    .header__nav{
        display: none;
    }
}
@media screen and (min-width:50px) and (max-width:767px){
    .header__button--menu{
        border-radius: 0;
        border: 0;
        background-color: var(--primary-white-color);
        z-index: 0;
    }
    .header__button--menu:hover{
        fill: var(--accent-color);
    }
    .header__button--menu:focus{
        fill: var(--accent-color);
    }
    .header__mobile-menu{
        align-items: center;
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 450px;
    }
    .header{
        max-width: 480px;
    }
    .mobile-menu{
        padding: 10px 15px;
    }
    .logo{
        font-weight: 700;
        height: 28px;
    }
    .header__menu{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        z-index: 10;
        overflow-y: scroll;
        padding: 48px 40px;
        width: 100%;
        background-color: #fff;
    }
    .is-open{
        display: block;
    }
    .boton__menu-cerrar{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        border-radius: 0;
        background-color: var(--primary-white-color);
    }
    .boton__menu-cerrar:hover{
        fill: var(--accent-color);
    }
    .boton__menu-cerrar:focus{
        fill: var(--accent-color);
    }
    .header__li--mobile{
        display: block;
        margin-bottom: 32px;
    }
    .link__mobile{
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: .02em;
        text-decoration: none;
    }
    .active-mobile{
        color: var(--accent-color);
    }
    .header__ul--mobile{
        margin-bottom: 306px;
    }
    .mobile-contacto{
        color: #2196f3;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: .02em;
        text-decoration: none;
    }
    .mobile-contacto-size-{
        font-size: 24px;
        color: #757575;
        line-height: 1.17;
        letter-spacing: .02em;
        font-weight: 500;
    }
    .ul--contactos--mobile{
        margin-bottom: 64px;
    }
    .social__ul--mobile{
        display: flex;
    }
    .social__links--mobile{
        border-right: 1px solid rgba(33, 33, 33, .2);
        padding: 0 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: .02em;
        text-decoration: none;
    }
    .redes--mobile{
        color: var(--accent-color);
    }
}
@media screen and (min-width: 767px){
    .mobile-menu{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:1199px){
    .header{
        max-width: 768px;
    }
    .logo{
        font-size: 24px;
    }
    .header__ul--links{
        gap: 50px;
    }
    .header__li--links{
        padding-left: 0;
    }
    .header__ul--contactos{
        display: block;
    }
    .header__link--correo,.header__link--numero-telefonico{
        padding: 0;
        font-size: 12px;
    }

}
