.section__ul--informacion {
    display: flex;
    gap: 30px;
}

.section__li--material {
    flex-basis: calc((100% - 90px) / 4);
}

.section--informacion {
    padding-top: 94px;
}

.section__h3--titulo {
    padding-bottom: 10px;
    font-size: 14px;
}

.antena,
.reloj,
.diagrama,
.astronauta {
    width: 70px;
    height: 70px;
}

.div__svg--bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--second-background);
}
.section__p--texto{
    padding-bottom: 0;
}

@media screen and (min-width:50px) and (max-width:767px){
    .section__ul--informacion{
        display: block;
        width: 450px;
    }
    .section__h3--titulo{
        text-align: center;
    }
    .div__svg--bg{
        width: 450px;
    }
    .section__p--texto{
        padding-bottom: 30px;
    }
    .section--informacion{
        padding-top: 60px;
        max-width: 480px;
    }

}
@media screen and (min-width:768px) and (max-width:1199px){
    .section__ul--informacion{
        flex-wrap: wrap;
    }
    .section__li--material{
        width: 354px;
    }
    .div__svg--bg{
        width: 354px;
        height: 120px;
    }
    .section--informacion{
        padding-top: 64px;
        padding-bottom: 60px;
    }
}