.button--servicio {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 500;
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    z-index: 5;
}

.section--servicio {
    background-color: var(--footer-background);
    padding: 200px 0px;
    text-align: center;
    background-image: url("../images/imagebg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
}

.h1--servicio {
    max-width: 696px;
    padding-top: 0;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    z-index: 5;
}