:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --second-background: #f5f4fa;
    --footer-background: #2f303a;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --time: 250ms;
}

$color-accent: #2196f3;
$color-primery-text: #757575;
$color-title-text: #212121;
$color-primary-white: #ffffff;
$color-second-background: #f5f4fa;
$color-footer-background: #2f303a;
